.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
sandbox/src/main/java/.DS_Store
.DS_Store
.DS_Store
.DS_Store
sandbox/.DS_Store
.DS_Store
sandbox/.DS_Store
*.class
*.class
*.class
*.class
.DS_Store
*.class
sandbox/out/production/classes/assignment2/AssignmentTwo.class
sandbox/.DS_Store
sandbox/out/production/classes/assignment2/AssignmentTwo.class
*.class
sandbox/.DS_Store
sandbox/out/production/classes/assignment2/AssignmentTwo.class
sandbox/out/production/classes/assignment2/Point.class
sandbox/out/test/classes/AssignmentThree/PointTests.class
